.bordeText {
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: currentColor; /* Usa el mismo color del texto */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 19px;
    color: rgb(255, 255, 255);
}

.bordeText-fill {
    -webkit-text-stroke-width: 1.1px;
    -webkit-text-stroke-color: black; /* o cualquier color fijo */
    color: white; /* color del relleno */
}

.paro {
    background-image: url("../../../public/img/Acciones/paro.png");
    background-size: cover;
    background-position: center;
}

.contorno {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
